<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>Flipkart Scrapper</span>
    <div class="spacer"></div>
</div>
<div class="container mt-5">
  <!-- Content here -->
  <form class="mb-3"[formGroup]="urlForm" >
    <label for="url" class="form-label">Paste your link here</label>
    <input type="text" formControlName="url" class="form-control" id="url" placeholder="Eg: https://www.flipkart.com/xxxxxx/p/xxxxx">
  </form>
</div>

<div class="container mt-5" *ngIf="loader">
  Loading...
</div>

<ng-container *ngFor="let extracted_data of all_data">
  <div class="container mt-5" *ngIf="extracted_data?.title">
  <div class="card" style="width: 100%;">
    <div class="card-body">
      <h5 class="card-title">{{extracted_data.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{extracted_data.price}}</h6>
      <p class="card-text">{{extracted_data.description}}</p>
      <a [href]="extracted_data.url" target="_blank" class="card-link">Go to product page</a>
    </div>
  </div>
</div>
</ng-container>



